import(methods)  
import(DBI)      
import(TSdbi)

importFrom("stats", "as.ts", "frequency")

import(tframe)
import(tframePlus)

import(Quandl) 

## S4 Classes

export("Quandl")

## S4 methods
exportMethods(
   "TSconnect",
   "TSget",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSsource",
   "TSdates",
   "TSexists",
   "TSvintages"
   )
