import("methods")  
import("DBI")      
import("TSdbi")
import("TSsql")

import("tframe")
import("RMySQL") ## this should not all be needed, but parts for setClass "TSMySQLConnection"
##importClassesFrom("RMySQL","MySQLConnection")

## many function from TSdbi need to be visible to the user, so it is indicated
## using Depends: in NAMESPACE rather than importing and exporting here.

## S4 Classes
exportClasses(
   "TSMySQLConnection"
   )

## S4 methods
exportMethods(
   ##"print",
   "TSconnect",
   "TSget",
   "TSput",
   "TSdelete",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSsource",
   "TSdates",
   "TSvintages",
   "dropTStable"
   )
