import("methods")  
import("DBI")      
import("TSdbi")
import("TSsql")

import("tframe")
import("RMySQL") ## this should not all be needed, but parts for setClass "TSMySQLConnection"
##importClassesFrom("RMySQL","MySQLConnection")

## not generic
export(
  "MySQL")

## S4 Classes
exportClasses(
   "TSMySQLConnection"
   )

## S4 methods
exportMethods(
   ##"print",
   "TSconnect",
   "TSget",
   "TSput",
   "TSdelete",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSsource",
   "TSdates",
   "TSvintages"
   )
