import(methods)  
import(DBI)      
import(TSdbi)
import(ROracle) ## this should not all be needed, but parts for setClass "TSOracleConnection"
##importClassesFrom("ROracle","OracleConnection")

## S4 Classes
exportClasses(
   "TSOracleConnection"
   )

## S4 methods
exportMethods(
   ##"print",
   "TSconnect",
   "TSget",
   "TSput",
   "TSdelete",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSdates"
   )
