import("methods")  
import("DBI")      
import("TSdbi")
import("TSsql")

import("ROracle") 
##importClassesFrom("ROracle","OracleConnection")

import("tframe")
import("tframePlus")

## S4 Classes
exportClasses(
   "TSOraConnection"
   )

## S4 methods
exportMethods(
   ##"print",
   "TSconnect",
   "TSget",
   "TSput",
   "TSdelete",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSsource",
   "TSdates",
   "TSvintages",
   "dropTStable"
   )
