import(TSdbi)  
import(methods)  
import(DBI)      
#importFrom("stats", "tsp")
importFrom("stats", "start", "end", "ts", "is.ts", "frequency", "time")

import("tframe")
import("tframePlus")
import("zoo")

## not generic
export(
  "TSquery",
  "TSdescriptionSQL",
  "TSdocSQL",
  "TSlabelSQL",
  "TSsourceSQL",
  "TSputSQL",
  "TSdeleteSQL",
  "TSgetSQL",
  "TSdatesSQL",
  "createTSdbTables",
  "removeTSdbTables"
  )

