import(methods)  
import(DBI)      
import(TSdbi)
#import(bbg) 

export("bbg")

## S4 Classes
exportClasses(
   "bbgDriver", 
   "TSbbgConnection"
   )

## S4 methods
exportMethods(
   "TSconnect",
   "TSget",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSsource",
   "TSdates",
   "TSexists",
   "TSvintages",
   "dbDisconnect",
   "dbUnloadDriver"
   )


import("tframe")
import("tframePlus")
