import(methods)  
import(DBI)      
import(TSdbi)
#import(fame) 

export("fame")
export("fameServer")
export("vintageMap")

## S4 Classes
exportClasses(
   "TSfameConnection",
   "TSfameServerConnection"
   )

## S4 methods
exportMethods(
   "TSconnect",
   "TSget",
   "TSput",
   "TSdelete",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSdates",
   "TSexists",
   "TSvintages",
   "dbDisconnect",
   "dbUnloadDriver"
   )


import("tframe")
import("tframePlus")
