import("tframe")
import("TSdbi")

importFrom("tfplot","tfplot")

export(
   "TScompare",
   "doubleCheck",
   "tfDetails",
   "AllIds",
   "AllPanels",
   "AllVintages")

S3method("tfplot", "TScompare")
S3method("summary", "TScompare")
S3method("print", "summary.TScompare")

## S4 Classes
## none

## S4 generics
## none

## S4 methods
#exportMethods(
#   )

