import(TSdbi)  
import(methods)  
import(DBI)      
#importFrom("stats", "tsp")
import("tframe")
importFrom("stats", "start")
importFrom("stats", "end")

## not generic
export(
  "TSquery",
  "TSdescriptionSQL",
  "TSdocSQL",
  "TSlabelSQL",
  "TSsourceSQL",
  "TSputSQL",
  "TSdeleteSQL",
  "TSgetSQL",
  "TSdatesSQL",
  "createTSdbTables",
  "removeTSdbTables"
  )

