import("methods")  
import("DBI")      
import("TSdbi")

import("tframe")
import("tframePlus")

import("zoo")
importFrom("xts", "periodicity")

importFrom("quantmod", "getSymbols") #need quantmod in Depends not Imports for some reason

## not generic
export(
  "dbBackEnd")

## S4 Classes
exportClasses(
   "TSgetSymbolConnection"
   )

## S4 generics
## none

## S4 methods
exportMethods(
   "TSconnect",
   "TSdates",
   "TSdescription",
   "TSdoc",
   "TSlabel",
   "TSsource",
   "TSget",
   "dbDisconnect"
   )

